{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Comparible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <title>{% block title %} {% endblock title %} | BTS</title>
  </head>
  <body class="text-gray-900">
    {% include 'header.html' %}
    {% block context %} {% endblock context %}
    {% include 'footer.html' %}
  </body>
</html>
