{% extends 'base.html' %}
{% block title %} HOME {% endblock title %}
{% block context %}

<h1>Bestway To Subway</h1>
<ul>
  {% for sandwich in fav_sandwiches %}
  <li>
    <a href="/sandwich/{{sandwich.pk}}">
      <p>{{sandwich.menu}}</p>
      <img src="/media/{{sandwich.menu.photo}}" alt="menu-image" />
      <p>{{sandwich.bread}}</p>
      <p>
        {% for sauce in sandwich.sauces.all %}
          {{sauce}}
        {% endfor %}
      </p>
      <p>
        {% for cheese in sandwich.cheeses.all %}
          {{cheese}}
        {% endfor %}
      </p>
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock context %}
